.navbar {
 min-height: 10vh;
 display:flex;
 align-items: center;
 justify-content: space-between;
 background: #CDCDCD;
 padding: 2rem;
}

img{
 height: 100%;
}

.imgContainer {
 display: flex;
 align-items: center;
 height: 10vh;
}